.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
	margin: 50px 0 0 0;
}

.pagination .pageNumber {
	width: 40px;
	height: 40px;
	padding: 0;
	border-radius: 5px;
}