.formContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 80px);
}

.formContainer .formInner {
	width: 500px;
	max-width: 100%;
	background: var(--white);
	padding: 42px;
	border: 1px solid var(--blue-50);
	border-radius: 8px;
	box-shadow: -11px 13px 0 0 var(--orange5);
}

.formContainer .title {
	text-align: center;
	color: var(--blue10);
	margin-bottom: 30px;
}

.formContainer .formControl label {
	display: block;
	color: var(--blue10);
	margin-bottom: 10px;
}

.formContainer .formControl input {
	width: 100%;
	font-size: 15px;
	display: inline-block;
	padding: 15px 12px;
	border: 1px solid var(--blue-50);
	border-radius: 5px;
	outline: 0;
}

.formContainer .formControl {
	margin-bottom: 20px;
}

.formContainer form button {
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
	color: var(--blue70);
	border-radius: 5px;
	margin-top: 24px;
}

.formContainer .formMessage {
	text-align: center;
	color: var(--blue10);
	margin-top: 9px;
}

.formContainer .formMessage a {
	color: var(--orange10);
}

.formContainer .formMessage.error {
	color: var(--red30);
}

.formContainer .or {
	color: var(--blue-50);
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
}

.formContainer .or::before,
.formContainer .or::after {
	content: '';
	width: 150px;
	max-width: 35%;
	height: 0;
	display: inline-block;
	border: 1px solid var(--blue-50);
}

.formContainer .popupBtn {
	background-color: var(--white);
	border: 1px solid var(--blue-50);
	border-radius: 5px;
	margin-top: 30px;
}