*{
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    min-width: 150px;
    border-radius: 5px;
    background-color: #ff9800;
    cursor: pointer;
}
small{
    font-size: 14px;
}

.product{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    
}
.product:not(:last-child){
    border-bottom: 1px solid #dedede;
}

.product .imgWrap{
    width: 30%;
    margin-right: 30px;
}
.product .name{
    color: #0096ff;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.product .information{
    display: flex;
    align-items: center;
}
.product .information > div{
    width: 50%;
    margin-right: 10px;
}

.product .information .price{
    margin: 15px 0 20px 0;
    font-size: 18px;
}

.product .information .reviewStar svg{
    color: #ff9800;
    font-size: 13px;
}